{{# patternTypes }}
  <li data-pattern-name="{{ patternTypeUC }}"><a class="sg-acc-handle">{{ patternTypeUC }}</a><ol class="sg-acc-panel">
  {{# patternTypeItems }}
    <li data-pattern-name="{{ patternSubtypeUC }}"><a class="sg-acc-handle">{{ patternSubtypeUC }}</a><ol class="sg-acc-panel sg-sub-nav">
    {{# patternSubtypeItems }}
      <li data-pattern-name="{{ patternName }}"><a href="patterns/{{ patternPath }}" class="sg-pop  {{# patternState }}sg-pattern-state {{ patternState }}{{/ patternState }}" data-patternpartial="{{ patternPartial }}">{{ patternName }}</a></li>
    {{/ patternSubtypeItems }}
    </ol></li>
  {{/ patternTypeItems }}
  {{# patternItems }}
    <li data-pattern-name="{{ patternName }}"><a href="patterns/{{ patternPath }}" class="sg-pop {{# patternState }}sg-pattern-state {{ patternState }}{{/ patternState }}" data-patternpartial="{{ patternPartial }}">{{ patternName }}</a></li>
  {{/ patternItems }}
  </ol></li>
{{/ patternTypes }}
{{^ ishControlsHide.views-all }}
  <li><a href="styleguide/html/styleguide.html" class="sg-pop" data-patternpartial="all">All</a></li>
{{/ ishControlsHide.views-all }}